<%- include('includes/header.ejs') %>

    <body>
        <div>
            <div>PRODUCT PAGE</div>
            <div>
                <%=member.memberNick%>
            </div>
        </div>

        <% products.map((value, key)=> { %>
            <p>
                <%= value.productName %> - <%= value.productSize %>
            </p>
            <% } ) %>
    </body>

    <%- include('includes/footer.ejs') %>